/*
	seletor{
		propriedade: valor;
	}

*/

.engloba{
	margin: 0 auto;
	width: 960px; /* 600px */
}

footer {
	border-top: 1px solid blue;
}

h1,h2{
	text-align: center;
	background-color: #8470FF;
	color: #87CEFA;
}

.contato{
	margin: 3px;
}


#menuver {
	margin: 0;
	font: 12px Verdana, sans-serif;
	background: #000000;
	background: -webkit-linear-gradient(black, gray);
	background: -moz-linear-gradient(black, gray);
   	background: -o-linear-gradient(black, gray);

}
#menuver li {
	display: inline-block;
	list-style: none;
	margin-right: 10px;

}
#menuver li a {
	display: block;
	line-height: 30px;
	margin:0; 
	padding:0 5px;
	text-decoration:none;
	color: #fff;
}
#menuver li a:visited {
	color: #fff;
}
#menuver li a:hover { 
	background: #363636;
	color: #8470FF;
	background: -webkit-linear-gradient(gray, white);
	background: -moz-linear-gradient(gray, white);
   	background: -o-linear-gradient(gray, white);
}
#menuver li a:active { 
	background: #8470FF;
	color: #000; 
}

.active{
	background: #363636;
	color: #8470FF;
}